:root {
    --pad-1rem: 1rem;
    --pad-1-5rem: 1.5rem;
    --pad-2rem: 2rem;
    --radius-out: 15px;
    --gap: 12px;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    font-family: 'InterTight';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6  {
    text-wrap: balance;
}

body {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* gap: var(--gap); */
    padding: var(--pad-1rem);
}

/* SECTION HEADER*/
.header {
    padding: 0 var(--pad-1-5rem);
    background: linear-gradient(to right, #50f5, dodgerblue);
    box-shadow: 0 0 15px 0 #0002;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: sticky;
    top: 0;
    z-index: 50;
}

.contenedor__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 60;
}

.logo__nombre {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-wrap: pretty;
    font-style: italic;
    text-shadow: 0 0 15px #000;
    border-bottom: 2px solid #fff5;
}

.logo__nombre:hover {
    border-bottom-color: orange;
}

.logo__nombre::first-letter {
    color: orange;
}

.contenedor__toggleMenu {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.toggleMenu {
    padding: var(--pad-1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
}

.contenedor__menu__secundario {
    width: 100%;
    position: absolute;
    top: 85%;
    padding: var(--pad-1-5rem);
    background: linear-gradient(to bottom, #0000, #333);
    border-radius: 0 0 12px 12px;
    z-index: 40;

    opacity: 0;
    transform: translateX(-2000px);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.contenedor__menu__secundario.desplegar__grupos {
    opacity: 1;
    transform: translateX(0);
}

.lista__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.menu__item {
    flex: 1 1 0;
    min-width: 130px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 0;

    position: relative;
}

.icono__bola {
    position: absolute;
    top: 25%;
    right: 5px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
}

.menu__item:hover .icono__bola {
    transform: translateX(-50%) rotate(-360deg);
    opacity: 1;
}

.menu__item .menu__enlace {
    color: inherit;
    font-size: .9rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    background-color: #fff;
    border-radius: 6px;
}

.menu__enlace:hover {
    background-color: #eee;
}

.header:hover + .contenedor__principal {
    filter: blur(10px);
}

/* FIN SECTION HEADER*/

.contenedor__principal {
    display: flex;
    justify-content: center;
    padding: var(--pad-2rem);
    padding-top: var(--pad-1rem);
    position: relative;
    transition: filter .5s ease-in-out;
}

/* ----- Contenedor Principal del Álbum*/
.contenedor__album {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--gap) * 4);
    /* padding: var(--pad-2rem); */
}

/* ----- Contenedor Grupo de equipos */
.contenedor__grupo {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: var(--gap);
}

.grupo__contenedor__titulo {
    padding: var(--pad-1rem);
    text-align: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: aparecer-derecha;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}

@keyframes aparecer-derecha {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.titulo__barra {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, rgb(57, 134, 42));
    border-radius: 6px;
}

.titulo__grupo {
    position: absolute;
    padding: 0 20px;
    background-color: #fff;    
}

/* ----- Contenedor de equipos */
.grupo__contenedor__equipos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gap) * 2);
}

/* ----- Contenedor de equipo */
.grupo__equipo {
    padding: var(--pad-1-5rem);
    padding-top: var(--pad-1rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    box-shadow: 0 0 15px 0 #0002;
    border-radius: 12px;

    transform: skew(-2deg) scale(1);

    gap: var(--gap);

    transition: scale .5s ease, box-shadow .5s ease;

    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: skew(0deg) scale(1) translateY(200px);
    }

    100% {
        opacity: 1;
        transform: skew(-2deg) scale(1) translateY(0);
    }
}

.grupo__equipo:hover {
    scale: 1.05;
    box-shadow: 0 0 15px 0 #0003;
}

.equipo__pais {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap);
}

.bandera {
    width: 50px;
    height: 50px;
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandera img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    box-shadow: 0 0 5px 0 #0002;
    border-radius: 4px;
}

.pais__informacion {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.nombre__confederacion {
    display: inline;
    font-size: .9rem;
    color: #666;
    font-weight: bold;
    font-style: italic;
    background-color: #8882;
    padding: 6px;
    border-radius: 5px;
}

.img_completado {
    width: 70px;
    transform: scale(0.8) rotate(45deg);
    opacity: 0;
}

.img_completado.animado {
    animation: aparecerLogoCompletado;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes aparecerLogoCompletado {
    from {
        opacity: 0;
        transform: scale(0.8) rotate(45deg);
    }

    75% {
        opacity: .75;
        transform: scale(1.2) rotate(45deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }

}

.equipo__progreso {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.progreso__completado {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.completado__barra__inferior {
    flex-grow: 1;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #ccc;
    justify-self: start;
    z-index: 5;
    --width: 0;
}

.barra__superior {
    z-index: 10;
    height: 100%;
    width: 0;
    background-color: #096;
    border-radius: 6px;
    transition: width .5s ease;
}

.barra__superior.cargando {
    animation: llenarBarra 2s ease-in-out 1 both;
}

@keyframes llenarBarra {
    from {
        width: 0;
    }

    to {
        width: var(--width);
    }
}

.equipoCompleto {
    padding: 5px;
    border-radius: 5px;
    background-color: #0964;
    color: #096;
}

.progreso__cantidad {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.equipo__postales {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap);
}

.postal  {
    width: 50px;
    height: 50px;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .5s ease;
}

.postal:not(:is(.postal__escudo, .postal__equipo)):hover {
    background: #888;
}

.postal:not(:is(.postal__escudo, .postal__equipo)) {
    border-radius: 50%;
}

.postal:is(.postal__escudo, .postal__equipo) {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    scale: 1.3;    
    padding: var(--pad-1rem);
}

.postal.postal__escudo {
    background-color: dodgerblue;
}

.postal.postal__equipo {
    background-color: orange;
}

.postal.postal__marcada {
    text-decoration: line-through;
    background-color: #666;
}

.postal.postal__marcada:hover {
    background-color: #666;
}

@media screen and (max-width: 850px) {
    .grupo__contenedor__equipos {
        grid-template-columns: 1fr;
    }

    .grupo__equipo {
        transform: skew(0);
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
            transform: translateY(200px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media screen and (min-width: 850px) {
    .contenedor__menu__secundario {
        width: 100%;
    }
}